<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si le fichier ou le dossier existe, ne rien faire
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Sinon, rediriger tout vers index.html
  RewriteRule ^ index.html [L]
</IfModule>