aboutme {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    text-align: left;
}

me {
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 60vh;
}

links {
    margin: 3em;
    display: flex;
    flex-direction: column;
    width: 20vh;
    height: 20vh;
    gap: 1em;
}

.icon img {
    width: 5vh;
    height: 5vh;
}