aboutme {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    text-align: left;
    align-items: center;
    margin-right: 1em;
}

me img {
    height: 20em;
}

links {
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.icon img {
    width: 5vh;
    height: 5vh;
}