.language-selector {
    display: inline-block;
    z-index: 10;
    pointer-events: auto;
    right: 0;
    position: relative;
    text-align: center;
    padding: 1em;
    margin-left: auto;
}

.language-button {
    font-size: 2em;
    width: 2em;
    cursor: pointer;
    text-transform: lowercase;
    text-align: center;
}

.language-options {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-size: 2em;
    border: none;
    z-index: 10;
    position: absolute;
    left: 0;
}

.lang-option {
    cursor: pointer;
    text-transform: lowercase;
}

.lang-option:hover {
    text-decoration: underline;
}