.ProjectsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 50px;
    width: 100%;
}

.ProjectsContent a:hover {
    text-decoration: none ;
}

.ProjectCard {
    border: 1px solid #111;
    background: white;
    border-radius: 10px;
    padding: 0;
    margin: 10px;
    width: 25vw;
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}

.ProjectCard:hover {
    transform: scale(1.05);
}

.ProjectCard img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.ProjectCard h1,
.ProjectCard p {
    padding: 0 20px;
}

.ProjectCard h1 {
    text-align: center;
    padding-top: 20px;
}

.ProjectCard p {
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .ProjectsContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
        padding-top: 50px;
    }

    .ProjectCard {
        width: 80vw;
    }

    .ProjectCard:hover {
        transform: none;
    }
}