.return_button {
    font-size: 2em;
    background: transparent;
    cursor: pointer;
    text-transform: lowercase;
    text-align: center;
    display: inline-block;
    z-index: 10;
    pointer-events: auto;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    margin-left: 0;
    position: absolute;
    width: 2em;
    padding: 1em;
    transform: translateY(-50%);
}

.return_button:active {
    background: transparent;
}